<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="no">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:applicationContext-properties.xml</value>
		</property>
	</bean>

	<bean id="buscaPapeisThreadPoolService" class="br.com.otavio.easybroker.rest.BuscaPapeisThreadPoolService">
		<constructor-arg value="${busca-number-of-threads}" type="int" />
		<constructor-arg value="${busca-interval}" type="long" />
		<constructor-arg value="${busca-interval-unit}" type="java.util.concurrent.TimeUnit" />
	</bean>

	<bean id="consultaPapeisThreadPoolService" init-method="initThreads"
		class="br.com.otavio.easybroker.rest.ConsultaPapeisThreadPoolService">
		
		<constructor-arg value="${consulta-number-of-threads}" type="int" />
		<constructor-arg value="${consulta-interval}" type="long" />
		<constructor-arg value="${consulta-interval-unit}" type="java.util.concurrent.TimeUnit" />
	</bean>

	<bean id="papeisBean" class="br.com.otavio.easybroker.view.PapeisBean">
		<property name="consultaPapeisThreadPoolService" ref="consultaPapeisThreadPoolService" />
	</bean>
	
</beans>
