     .style1
     {
     }
     .style4
     {
         height: 63px;
         text-align: center;
         color: .FFFFFF;
     }
     .style5
     {
         height: 19px;
         width: 158px;
     }
     .style6
     {
         height: 16px;
         width: 158px;
         color: .FFFFFF;
         font-weight: bold;
     }
     .style7
     {
         width: 158px;
         height: 38px;
     }
     .style8
     {
         height: 20px;
         width: 158px;
         color: .FFFFFF;
         font-weight: bold;
     }
     .Select3
     {
         width: 110px;
         margin-right: 5px;
     }
     .Select2
     {
         width: 110px;
     }
     .Select1
     {
         width: 168px;
     }
     .Text2
     {
         width: 171px;
     }
     .Text1
     {
         width: 168px;
     }
     .Select4
     {
         width: 109px;
     }
     .cboCityP
     {
         width: 95px;
     }
     .cboCidadeD
     {
         width: 95px;
     }
     .cboRoteiro
     {
         width: 94px;
     }
     .cboTrans
     {
         width: 94px;
     }
     .style11
     {
         height: 3px;
         width: 158px;
     }
     .style12
     {
         width: 153px;
     }
     .style13
     {
         width: 166px;
     }
     .style14
     {
         height: 17px;
         width: 158px;
         color: .FFFFFF;
         font-weight: bold;
     }
     .Text3
     {
         width: 168px;
     }
     .Text4
     {
         width: 169px;
     }
     .Button1
     {
         width: 162px;
         height: 26px;
     }